<cnt-flexy-view-viskhan-sbank-estimates-1_01
                [payload]='forSectionFirst()'
                [pathToAssets]='pathToAssets'
                (clickSectionFirstText)='clicker($event)'
                (clickSectionFirstSubtext)='clicker($event)'
                (clickSectionFirstButton)='clicker($event)'
                (clickSectionFirstImage)='clicker($event)'
></cnt-flexy-view-viskhan-sbank-estimates-1_01>

<cnt-flexy-view-viskhan-sbank-dowork-1_01
                [payload]='forSectionSecond()'
                [pathToAssets]='pathToAssets'
                (clickSectionSecondTitle)='clicker($event)'
                (clickSectionSecondSubtitle)='clicker($event)'
                (clickSectionSecondMyBlock)='clicker($event)'
></cnt-flexy-view-viskhan-sbank-dowork-1_01>

<cnt-flexy-view-viskhan-sbank-structure-1_01
                [payload]='forSectionThird()'
                [pathToAssets]='pathToAssets'
                (clickSectionThirdImage)='clicker($event)'
                (clickSectionThirdSubtitle)='clicker($event)'
                (clickSectionThirdSubtext)='clicker($event)'
                (clickSectionThirdTitle)='clicker($event)'
                (clickSectionThirdText)='clicker($event)'
></cnt-flexy-view-viskhan-sbank-structure-1_01>

<cnt-flexy-view-viskhan-sbank-collaboration-1_01
                [payload]='forCollaboration()'
                [pathToAssets]='pathToAssets'
                (clickCollaborationImage)='clicker($event)'
                (clickCollaborationSubtitle)='clicker($event)'
                (clickCollaborationSubtext)='clicker($event)'
></cnt-flexy-view-viskhan-sbank-collaboration-1_01>

<cnt-flexy-view-viskhan-sbank-review-1_01
                [payload]='forReview()'
                [pathToAssets]='pathToAssets'
                (clickReviewImage)='clicker($event)'
                (clickReviewSubtitle)='clicker($event)'
                (clickReviewSubtext)='clicker($event)'
></cnt-flexy-view-viskhan-sbank-review-1_01>

<cnt-flexy-view-viskhan-sbank-staffing-1_01
                [payload]='forStaffing()'
                [pathToAssets]='pathToAssets'
                (clickStaffingImage)='clicker($event)'
                (clickStaffingSubtitle)='clicker($event)'
                (clickStaffingSubtext)='clicker($event)'
></cnt-flexy-view-viskhan-sbank-staffing-1_01>

<cnt-flexy-view-viskhan-sbank-timeline-1_01
                [payload]='forTimeline()'
                [pathToAssets]='pathToAssets'
                (clickTimelineImage)='clicker($event)'
                (clickTimelineSubtitle)='clicker($event)'
                (clickTimelineSubtext)='clicker($event)'
></cnt-flexy-view-viskhan-sbank-timeline-1_01>

<cnt-flexy-view-viskhan-sbank-summary-1_01
                [payload]='forSummary()'
                [pathToAssets]='pathToAssets'
                (clickSummaryImage)='clicker($event)'
                (clickSummarySubtitle)='clicker($event)'
                (clickSummarySubtext)='clicker($event)'
></cnt-flexy-view-viskhan-sbank-summary-1_01>

<cnt-flexy-view-viskhan-sbank-about-1_01
                [payload]='forSectionFourth()'
                [pathToAssets]='pathToAssets'
                (clickSectionFourthTitle)='clicker($event)'
                (clickSectionFourthImage)='clicker($event)'
                (clickSectionFourthText)='clicker($event)'
                (clickSectionFourthButton)='clicker($event)'
></cnt-flexy-view-viskhan-sbank-about-1_01>
